First Name,Last Name,Email,Country Name,Address,Notes,Time Zone,Preferred Language,Source,Source Channel,Created At,Unsubscribed,Email Blocked,Tags,Last Activity Time,Assigned Staff,Next Booking,Last Activity Action,Opted-in for transactional,Pending Estimates Total,Open Payments,Approved Estimates Total,Status,I’d like to receive promotional updates,Email 2,Property address,Property type,How can we help you?,Special instructions/requests,Property name,Mobile phone
Jane,Example,jane@example.com,US,123 Main Street  Traverse City  MI  49684  USA,Previous waterproofing customer,America/Detroit,en,Initiated by staff,manual_matter,08/07/2026 09:00,false,false,Referral,08/07/2026 09:00,Josh,,Customer imported,true,$0.00 USD,$0.00 USD,$0.00 USD,Existing customer,false,,123 Main Street  Traverse City  MI  49684  USA,Residential,Crawl space waterproofing,Call before arrival,Jane Example,231-555-0101
